.hero{
    width:100%;
    height:300px;
    position: relative;
    background-image:url("https://img2.wikia.nocookie.net/__cb20141106134130/originalandfancharacters/images/5/50/Wiki-background");
}
