.clicky {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
  border: 5px solid #fafafa;
}

.clicky:hover{
  transform: scale(1.05);
  border: none;
}
